#topBanner {
  background: #6200ee;
  color: #fff;
  border-radius: 8px 12px;
  width: 380px;
  margin: 0 auto 30px;
  padding: 5px;
}

textarea {

  width: 510px;
  height: 300px;
  resize: none;
  border: 2px solid #ccc;
  outline: none;
  font-size: 1.8em;
  padding: 10px;

}




#wordChange {
  background: #3700b3;
  font-size: 1.5em;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 10px auto;
  padding: 10px;
}

#wordChange {
  color: #fff;
  border-radius: 8px 12px;
}
#keylogger {
  text-align: center;
  font-family: Raleway, sans-serif;
  align-content: center;
}
